# python
__pycache__/
*.py[cod]
*$py.class

# distribution and packaging
*.egg-info/
*.egg
dist/
build/

# virtual environments
venv/
.venv/
env/
.NBAD/

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db

# jupyter notebook
.ipynb_checkpoints/

# project-specific
data/
results/

# markdown files
*.md

# README
!README.md
